.component{
    &.menu.menu_container{
        cursor: default;
        $height: 30px;
        background: url("../resources/menubg.png") 0 0/100% $height;
        height:$height;
        display: inline-block;
        width:auto;
        line-height: $height;
        color: #30588b;
        font-weight: 800;
        .content{
            vertical-align: middle;
            padding: 0 5px;
        }
        &:not(:last-child):after{
            content:"";
            display:inline-block;
            border-left:1px solid #999a9c;
            border-right:1px solid #bcc9d1;
            height:16px;
            vertical-align: middle;
            background-color: red;
            position: relative;
            z-index: 1;
        }
    }
}
