.component{
    //菜单导航
    &.menu.menu_container{
        position: relative;
        cursor: default;
        $height: 30px;
        background: url("../resources/menubg.png") 0 0/100% $height;
        height:$height;
        display: inline-block;
        width:auto;
        line-height: $height;
        color: #30588b;
        font-weight: 800;
        &.showing{
            color:#fff;
        }
        .content{
            vertical-align: middle;
            padding: 0 5px;
            white-space: nowrap;
        }
        .children_container{
            position: absolute;
            left: 0;
            right: 0;
            top: $height;
            padding-top:15px;
            z-index: 1;
            .children{
                $bgc: rgba(0, 51, 167, 0.6);
                width:100%;
                text-align: center;
                border-bottom:5px solid #093977;
                padding:5px;
                display: inline-block;
                background-color: $bgc;
                .horn{
                    $hornHeight: 10px;
                    display: inline-block;
                    display: inline-block;
                    position: absolute;
                    top: 15px - $hornHeight;
                    left: 8px;
                    border-top: 0px solid transparent;
                    border-bottom: $hornHeight solid $bgc;
                    border-left: 7/10*$hornHeight solid transparent;
                    border-right: 7/10*$hornHeight solid transparent;
                }
                a{
                    text-decoration: none;
                }
            }
        }
        $radius:5px;
        &:first-child{
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
        }
        &:last-child{
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
        }
        &:not(:last-child):after{
            content:"";
            display:inline-block;
            border-left:1px solid #999a9c;
            border-right:1px solid #bcc9d1;
            height:16px;
            vertical-align: middle;
            background-color: red;
            position: relative;
            z-index: 1;
        }
    }
    //轮播组件
    &.carousel_container{
        display: inline-block;
        position: relative;
        width: 488px;
        height :244px;
        overflow: hidden;
        .ul{
            width: 100%;
            transition: transform 0.3s;
            white-space: nowrap;
            .li{
                display: inline-block;
                list-style: none;
                width:100%;
                overflow: hidden;
            }
        }
        .bottom{
            position: absolute;
            bottom: 0px;
            right: 0px;
            left: 0px;
            background-color:rgba(75, 113, 165, 0.75);
            font-size:14px;
            text-indent: 0.5em;
            font-weight: 400;
            color:#fff;
            line-height:1.424;
            .point{
                float:right;
                $size:10px;
                li{
                    display: inline-block;
                    width:$size;
                    height:$size;
                    padding:5px;
                    margin:2px;
                    background-color: #fff;
                    border-radius: 50%;
                    &.active,&:hover{
                        background-color: #0b3977;
                    }
                }
            }
        }
    }
    //分页绷脸的 tabs
    &.tabs_container{
        display: inline-block;
        .tabs_point{
            white-space: nowrap;
            .point{
                $height: 30px;
                cursor: default;
                display: inline-block;
                position: relative;
                border:1px solid #999;
                background-color: #6c91bb;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px 21px;
                list-style: none;
                height:$height;
                line-height: $height;
                &.active{
                    z-index: 5;
                    background-color: #c4d4e3;
                    .right_inner{
                        border-left: 13px solid #c4d4e3;
                    }
                }
                .title{
                    display: inline-block;
                    width:100px;
                    text-indent: 1.5em;
                    text-overflow:ellipsis;
                    white-space:nowrap;
                    overflow:hidden;
                }
                .right{
                    position: absolute;
                    right: -10px;
                    top:3px;
                    z-index: 1;
                    display: inline-block;
                    border-top: $height - 3px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 14px solid #999;
                    border-right: 0px solid transparent;
                }
                .right_inner{
                    position: absolute;
                    right: -8px;
                    top:3px;
                    z-index: 2;
                    display: inline-block;
                    border-top: $height - 4px solid transparent;
                    border-bottom: 0px solid transparent;
                    border-left: 13px solid #6c91bb;
                    border-right: 0px solid transparent;
                }
            }
        }
        .content{
            min-height:250px;
            min-width:500px;
        }
    }
}
