
html {
    box-sizing: border-box;

    font-size: 14x; //刚好为10px;
    font-family: "Microsoft YaHei", "Helvetica Neue", Arial, HelveticaNeue, Helvetica, "BBAlpha Sans", sans-serif;
}
html{
    height:100%;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    // transition: All 1s;
}
.clearfix::after{
    content:" ";
    display: table;
    clear:both;
}
